
body {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

*{
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    height: 100%;
    min-width: 320px;
}
/*Content Container*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}
.bg_banner {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; 
    z-index: 1;
    &:after {
        content: '';
        background-image: url('../img/UDG_01_lg_01.jpg'); 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        //position: absolute;
        opacity: .7;
        z-index: 0;
    }
}
.header_top {
	padding-top: 15px;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
}
.logo_wrap {
	float: left;
}
.logo {

	//float: left;
	color: #fff;
	img {
		width: 100%;
		height: auto;
	}
	p {
		margin-top: -45px;
		margin-left: 40px;
		font-size: 12.73px;
		text-transform: uppercase;
	}
}
.nav_wraper {
	float: right;
	text-align: right;
}
nav {
	float: left;
	li {
		display: inline-block;
		color: #fff;
		font-size: 17px;
		line-height: 2.06;
		padding-right: 50px;
	}
	a {
		display: block;
		
	}

}
.lang, .search {
	float: left;
	display: inline-block;
	padding-right: 50px;
	font-size: 17px;
	line-height: 2.06;
	
}
.lang {
	a {
		padding: 5px;
		border: 2px solid $green;
	}
}
.search {
	i {
		color: $green;
	}
}
#burger-container {
	display: none;
}
.header_content {
	margin-bottom: 10px;
	
	
	.line {
		border-left: thick $yellow solid;
		margin-left: 164px;
		padding-left: 30px;
	}
	h1 {
		font-size: 65px;
		line-height: 70px;
		color: #fff;
	}
}
.header_content_wrap {
	padding: 105px 15px 218px;
	width: 100%;
	position: relative;
}
.rec {
	display: inline-block;
	position: absolute;
	width: 18px;
	height: 18px;
	background: #fff;
}
.rec_left_top {
	top: 0;
	left: 60px;
}
.rec_right_top {
	top: 0px;
	right: 0;
	background: $green;
}
.rec_bottom_left_one {
	background: $green;
	left: -43px;
    top: 354px;
}
.rec_bottom_Left_second {
	background: $green;
	left: -43px;
	top: 380px;
}
.rec_bottom_right_one {
	top: 380px;
    right: 0;
}
.rec_bottom_right_second {
	background: $green;
	top: 347px;
    right: 0;
}
.rec_bottom_right_third {
	background: $green;
	top: 305px;
    right: 0;
}


.mouse_wrapp {
	display: block;
	padding-bottom: 43px;
	text-align: center;
}
.mouse {
	width: 22px;
	height: 32px;
	border: 2px solid #fff;
	display: inline-block;
	border-radius: 22px;
	span{
		color: $green;
	}
}
.content {
	@include clearfix;
	overflow: hidden;
	background-image: url("../img/main_bg_lg_02.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	overflow: hidden;
	height: auto;
}
.who-we-are {
	width: 100%;
	position: relative;
	margin-top: 4.333em;
	@include clearfix;
	&-head {
		img {
			position: absolute;
			top: 0;
		}
	}  

	h2 {
		padding: 30px 0 55px 60px;
	}
}
.top_head, .title, .image {
	padding-left: 15px;
	padding-right: 15px;
}
.who-we-are_link {
	float: left;
	clear: both;
	padding-left: 4em;
	font-family: 'Acrom-ExtraBold', sans-serif;
	line-height: 4;
	text-transform: uppercase;
}
.title {
	font-size: 1.133em;
	line-height: 2.06;
	float: left;
	width: 65%;
	margin-right: 2%;
	p {
		padding-left: 2.941em;
	}
}
.image {
	position: relative;
	float: right;
	width: 33%;
	.rec_blue {
		position: absolute;
		top: -36px;
		right: 20px;
		width: 24px;
		height: 24px;
		background: $blue;
	}
		.rec_green {
		position: absolute;
		top: 0;
		right: -15px;
		width: 24px;
		height: 24px;
		background: $green;
	}


}

.image_wrap {
	height: 350px;
	background-image: url("../img/Layer-15.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.our_project {
	width: 100%;
	@include clearfix;
	margin-top: 8.000em;
}
.left_section, .product_list {
	padding-left: 15px;
	padding-right: 15px;
}
.left_section {
	width: 33%;
	float: left;
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
	}
	h2 {
		padding: 30px 0 55px 60px;
	}
	a {
		padding-left: 60px;
	}
}
.product_list {
    width: 67%;
    float: left;
}

.product_list_item {
    width: calc(50% - 15px);
    float: left;
    color: #fff;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    transition: transform 300ms;
    &:nth-child(2n) {
        margin: 0;
    }
    &:hover {
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        transform: scale(1.1);
        p {
        	display: block;
        }
        &:after {
            opacity: 1;
        }
        h3 {
        	font-size: 28px;
        	line-height: 1.14;
            text-decoration: underline;
        }
        
    }
        &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#0f0, .3);
        opacity: 0;
        transform: opacity 300ms;
    } 
    img {
        height: 360px;
        width: 100%;
    }
    &:nth-child(2n) {
        margin: 0;
    }
    &:nth-child(2n+1) {
        clear:left;
    }
    .item_content {
        position: absolute;
        top: 75px;
        left: 45px;
        font-size: 28px;
        line-height: 1.14;

        h3 {
            padding-bottom: 20px;

        }
        p {
            font-size: 18px;
            line-height: 1.33;
            padding-bottom: 35px;
            display: none;
        }
    &-btn {
        position: relative;
        z-index: 1;
        display: block;
        background-color: #439c92;
        border-radius: 3px;
        font-size: 13px;
        padding: 4px 13px;
    }   

    }

}

.numbers {

	position: relative;
	background-image: url("../img/UDG_01_lg_03.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

	&:before {
	    content: '';
	    background-image: url('../img/UDG_01_lg_01.jpg'); 
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    z-index: -9999;
	    opacity: .7;
	}
	
}
.coloms {
	z-index: 1;
	padding-top: 68px;
	padding-bottom: 70px;
	text-align: center;
}
.colom {
	color: #fff;
		width: 280px;
		display: inline-block;
	h1 {
		font-size: 75px;
		line-height: 0.8;
		padding-top: 32px;
		padding-bottom: 44px;
	}
	p {
		padding-bottom: 28px;
	}
}
.colom {
	border-left-style: solid;
	border-left-color: $yellow;
	border-left-width: thick;
	&:last-child {
		border-right: thick solid $yellow;		
	}
}

.news {
	margin-top: 95px;
	.news_logo {
		text-align: center;
			h2 {	
			position: relative;
			top: 0px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			display: inline-block;
		}
	} 

}
.cards {
	text-align: center;
	margin-top: 90px;
	margin-bottom: 120px;
}
.card {
	background: #fff;
	width: 30%;
	text-align: left;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	display: inline-block;
	margin: 0 15px;
	p {
		font-size: 15px;
		line-height: 1.86;
		padding: 21px 0;
	}
	h3 {
		font-size: 19px;
		line-height: 1.58;
		padding-top: 35px;
	}
	img {
		width: 100%;
		height: 165px;
	}
	input {
		display: block;
		width: 100%;
		color: #fff;
		font-size: 16px;
		line-height: 3.125;
		background: $blue;


	}
}
.top_card {
	padding-left: 23px;
	padding-right: 40px;
}
.map_block {
	overflow: hidden;
	padding-top: 64px;
	overflow: hidden;
	h2 {
		font-size: 45px;
		line-height: 1.33;
	}

}
.col_adress, .col_mail {
	padding-left: 15px;
	padding-right: 15px;
}
.col_adress {
	width: 33%;
	float: left;
	h2 {
		position: relative;
	    top: -34px;
	    left: 62px;
	    right: 0px;
	    bottom: 0px;
	}
	li {
		padding-bottom: 20px;
	}
	i {
		padding-right: 40px; 
	}
	p {
		display: inline-block;
		font-size: 15px;
		line-height: 1.67;
	}
}
.col_mail {
	width: 66%;
	float: left;
	h2 {
		padding-top: 22px;
		margin-bottom: 70px;
	}
}
footer {
	@include clearfix;
}
.footer_bottom {
	width: 100%;
	//overflow: hidden;
	width: 100%;
	background: $grey;
	font-size: 14px;
	line-height: 2.214;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 20px;
	.col {
		display: inline-block;
		width: 33%;
	}
	.col_left {
		text-align: left;
	}
	.col_social {
		text-align: center;
		i {
			padding:0 12px;
		}
	}
	.col_right {
		text-align: right;
		.green {
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $green;
			z-index: 1;
		}
	}
}

.test {
	border: 1px solid;
	width: 48%;
	float: left;
	margin-bottom: 2%;
	margin-right: 2%;
	background-image: url(../img/bg.jpg);
	cursor: pointer;
	padding: 20px;
	min-height: 200px;
	transform: scale(1);
	transition: transform 300ms;
	color: #fff;
	font-size: 20px;
	position: relative;
	backface-visibility: hidden;
	&:nth-child(2) {
		background: #f0f;
	}
	&:hover {
		transform: scale(1.1);
		box-shadow: 2px 2px 2px #000;
		&:after {
			opacity: 1;
		}
		.test-title {
			text-decoration: underline;
		}
		.test-text {
			display: block;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#0f0, .3);
		opacity: 0;
		transform: opacity 300ms;
	}
	&-title {
		position: relative;
		z-index: 1;
	}
	&-text {
		position: relative;
		z-index: 1;
		display: none;
	}
	&-btn {
		position: relative;
		z-index: 1;
	}
}



